<p>
  try this one - webcal://www.webcal.fi/cal.php?id=41&format=ics&ph=1&ecl=1&pa=1&es=1&du=mi&wrn=1&wp=2&wf=26&color=%23666666&cntr=us&lang=en&rid=wc
</p>
<%= simple_form_for(@calendar_sync_definition) do |f| %>
  <%= f.input :subscribed_calendar_url %>
  <%= f.submit %>
<% end %>
