---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F%2F0dmUiPDHcAVdNCgYIARAAGA0SNwF-L9IrbmZ5KvrXIL5vZwuhriHLvWb-zh3fXBvgRiUdl2I-r72dE1il4cT56CxtpN0jC-8oKcY&client_id=431521155175-jk5tkoac3r0u7f1pkuc9actmacagt4pt.apps.googleusercontent.com&client_secret=u2inh1VF_i_g5aX0EXZsXFTj
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.a0AfH6SMCgSXP67n-C7kM_I1sH9PcLcMGWvDY-CrDrHn9AyhC8DdEByAb36UBs8Dh93R3a_Orbw-0EQ3nWFZCxRs8rbjWRIHRj5HBdeCUQXX00RUEah7_O9mPmCP8WSbOhpj8hpmom1Rznkii2dCWzGPwhZ0_8nw",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email openid",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjZhOGJhNTY1MmE3MDQ0MTIxZDRmZWRhYzhmMTRkMTRjNTRlNDg5NWIiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXpwIjoiNDMxNTIxMTU1MTc1LWprNXRrb2FjM3IwdTdmMXBrdWM5YWN0bWFjYWd0NHB0LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiNDMxNTIxMTU1MTc1LWprNXRrb2FjM3IwdTdmMXBrdWM5YWN0bWFjYWd0NHB0LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTE2NTc3MjI3NTYzMzE3MTE3Njc2IiwiZW1haWwiOiJqb2huLnJhbmRhbGwuZGV2LnNwZWNAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJ3TU1XelFKeTF6em1keU4tNW5ZVnR3IiwiaWF0IjoxNjE2MTY1NzU5LCJleHAiOjE2MTYxNjkzNTl9.Yd6Gau1hKs4bOIfQeTDmIwIZaCYDVCgRRdoFD728quk_RD4lumkcjOpctt2sr-14T8GsnjeXPTJimiQXbnmuysia_uurSaL6CiJ050xG5B6piSaT08c1OloWa3iIkOOiMfro1EO_hkCpv6Aj6SpycXjb5CEaA7eRYLjD0VUAwuMhSgyS5-jd30GlG7MaOZPbbJHAoOmZ-bykgIUgEtZjyFPjDrfx9wVos5e3Nqb_VCP0K1-keFjcJJJct6L_GSimJUCPXkxEzhEDtHq8x-YqdudlFVVKmS77ttMBtoOW9Q-E5I3LTA09Nr_t52pc3y7riPX8NEnzrVDJ8AL8PhxIjw"
        }
  recorded_at: Fri, 19 Mar 2021 14:55:59 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"\n\nLocation: Brookdale Stadium  (Arrival Time:  4:15
        PM (East","end":{"dateTime":"2020-09-16T16:15:00.000-04:00"},"location":"East
        Circuit Drive, Bloomfield, NJ 07003","start":{"dateTime":"2020-09-16T16:15:00.000-04:00"},"status":"confirmed","summary":"2013
        Boys Montclair United Blue - U8 Boys PRACTICE"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfH6SMCgSXP67n-C7kM_I1sH9PcLcMGWvDY-CrDrHn9AyhC8DdEByAb36UBs8Dh93R3a_Orbw-0EQ3nWFZCxRs8rbjWRIHRj5HBdeCUQXX00RUEah7_O9mPmCP8WSbOhpj8hpmom1Rznkii2dCWzGPwhZ0_8nw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"3232331519392000"'
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3232331519392000\"",
         "id": "rrq4hrlk5tvf51chf4v9is3jnk",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=cnJxNGhybGs1dHZmNTFjaGY0djlpczNqbmsgam9obi5yYW5kYWxsLmRldi5zcGVjQG0",
         "created": "2021-03-19T14:55:59.000Z",
         "updated": "2021-03-19T14:55:59.696Z",
         "summary": "2013 Boys Montclair United Blue - U8 Boys PRACTICE",
         "description": "\n\nLocation: Brookdale Stadium  (Arrival Time:  4:15 PM (East",
         "location": "East Circuit Drive, Bloomfield, NJ 07003",
         "creator": {
          "email": "john.randall.dev.spec@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "john.randall.dev.spec@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-09-16T16:15:00-04:00"
         },
         "end": {
          "dateTime": "2020-09-16T16:15:00-04:00"
         },
         "iCalUID": "rrq4hrlk5tvf51chf4v9is3jnk@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": true
         },
         "eventType": "default"
        }
  recorded_at: Fri, 19 Mar 2021 14:55:59 GMT
[...]
- request:
    method: put
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/rrq4hrlk5tvf51chf4v9is3jnk
    body:
      encoding: UTF-8
      string: '{"description":"\n\ni have changed!","end":{"dateTime":"2020-09-16T16:15:00.000-04:00"},"location":"East
        Circuit Drive, Bloomfield, NJ 07003","start":{"dateTime":"2020-09-16T16:15:00.000-04:00"},"status":"confirmed","summary":"2013
        Boys Montclair United Blue - U8 Boys PRACTICE"}'
    headers:
      Content-Ty[...]
